body {
    background-color: rgba(39, 45, 42, 0.486);
}



.navbar {
    background-color: blue !important;
    height: 100px;
    /* Adjust the height as needed */
}

.navbar-brand,.nav-link {
    line-height: 80px;
    /* Center vertically */
    color: white;
}

.navbar-brand {
    margin-left: 100px;
}

.nav-link {
    background-color: w;
    margin-top: 40px;
}