h2 {
    margin-top: 10px;
    margin-left: 40px;
    color: white;
}

hr {
    border: 0;
    height: 2px;
    background: yellow;
}



.card {
    margin-bottom: 20px;
}

.card-body{
    padding-left: 30px;
}

.col-sm-3 img{
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  