.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}



#game-table {
  align-items: center;

}

table,
th,
td {
  border-collapse: separate;

}

table {
  margin-top: 0px;
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

td {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  width: 190px;
  height: 190px;
}

/* 모달 스타일 */
.modal {
  display: none; /* 모달창 기본 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* 배경 불투명도 조절 */
}

/* 모달 내용 스타일 */

.modal {
  display: none; /* 모달창 기본 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8); /* 배경 불투명도 조절 */
}

.modal-content {

  background-color: #888;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 17%;
}



/* 모달 닫기 버튼 스타일 */
.close {

  color: #aaa;
  text-align: end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





#sel-option{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#sel-option > button{
  width: 300px;
  height: 50px;
}


#comment-box{
  padding: 3%;
  width: 100%;
  border-radius: 10px;
  background-color: #aaa;


}


#comment-submit-aria form {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 30px;
}

#comment-submit-aria form .form-control {
  flex: 1; /*남은 공간 차지*/
  margin-right: 20px;
}

#comment-submit-aria form #comment-submit-btn {
 width: 130px;
}





#comments{

  margin-top: 4px;
  padding: 1%;
  background-color: #fff;
  border-radius: 10px;
  line-height: 7px;
}