<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<section class="login-form">
    <h1>Login</h1>
   <div th:if="${error}">
        <p id="valid" class="alert alert-danger" th:text="${exception}"></p>
   </div>
    <form th:action="@{/member/login}" method="post">
        <div class="int-area">
            <input type="text" name="id" id="id" autocomplete="off" required th:value="${session.id}">
            <label for="id">USER NAME</label>
        </div>
        <div class="int-area">
            <input type="password" name="pw" id="pw" autocomplete="off" required>
            <label for="pw">PASSWORD</label>
        </div>
        <div class="btn-area">
            <button id="btn" type="submit">LOGIN</button>
        </div>
    </form>
    <div class="caption">
        <a th:href="@{/member/join}">회원가입</a>
        <a th:href="@{/member/kakao/login}"class="kakao-login">카카오 로그인</a>
    </div>
</section>

</body>
</html>